<div data-page="home" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">

            </div>
            <div class="center">ELTEK ENERGY</div>
            <div class="right">

            </div>
        </div>
    </div>
    <div class="page-content">
      <div class="content-block-title">{{text_content}}</div>
      <div class="list-block energycounters">
          <!-- Dynamic  List   [ see  f7templates ]-->
      </div>



    </div>
    <div class="toolbar toolbar-bottom">
        <div class="toolbar-inner">
                <img class="pedice-logo" src="img/pedice-home.png" />
        </div>
    </div>
</div>
